---
import Layout from '../layouts/Layout.astro';
import FeaturedCarousel from '../components/FeaturedCarousel.astro';
import Brands from '../components/Brands.astro';
import BestBrands from '../components/BestBrands.astro';
import Trending from '../components/Trending.astro';

const title = 'Big Bad Toy Store';
---

<Layout title={title}>
	<main>
		<h1 class="visually-hidden">{title}</h1>
		<FeaturedCarousel />
		<Brands />
		<BestBrands />
		<Trending />
	</main>
</Layout>

<style>
	
</style>
