---
import Layout from '../layouts/Layout.astro';
import FeaturedCarousel from '../components/FeaturedCarousel.astro';
import Brands from '../components/Brands.astro';
import BestSellers from '../components/BestSellers.astro';
import Trending from '../components/Trending.astro';
import NewArrivals from '../components/vue/NewArrivals.vue';
import PreOrders from '../components/vue/PreOrders.vue';

const title = 'Big Bad Toy Store';
---

<Layout title={title}>
	<main>
		<h1 class="visually-hidden">{title}</h1>
		<FeaturedCarousel />
		
		<Brands />
		<BestSellers />
		<Trending />
		<NewArrivals client:load />
		<PreOrders client:load />
	</main>
</Layout>

<style>
	
</style>
