<section class="py-5  bg-dark bg-gradient text-white">
    <div class="container">
        <h2>Best Sellers</h2>
        <div class="row">
            <div class="col-3 flex-g mb-3 d-none d-md-block">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <img src="https://placehold.co/300x200/000000/F00?text=Best+Sellers" class="rounded w-100" alt="BrandImage" loading="lazy">
                </a>
            </div>

            <div class="col-6 col-md mb-3">
                <h5><a href="#" class="text-white text-decoration-none">Brands</a></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">G.I. Joe</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">MOTU</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Dragon Ball</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">TMNT</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Power Rangers</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Gundam</a></li>
                </ul>
            </div>

            <div class="col-6 col-md mb-3">
                <h5><a href="#" class="text-white text-decoration-none">Themes</a></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Anime</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Video Games</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Horror</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Dinosaurs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Tokusatsu</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">1/6 Scale</a></li>
                </ul>
            </div>

            <div class="col-6 col-md mb-3">
                <h5><a href="#" class="text-white text-decoration-none">Series</a></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Tamashii Nations</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">MAFEX</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">One:12 Collective</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pop!</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Revoltech</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Nendoroid</a></li>
                </ul>
            </div>

            <div class="col-6 col-md mb-3">
                <h5><a href="#" class="text-white text-decoration-none">BBTS Picks</a></h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">80's Classics</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Storm Collectibles</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">McFarlane Toys</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Boss Fight Studio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">NECA</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Super7</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>