<section class="py-4">
    <div class="container">
        <a href="#" class="card">
            <img
                src="https://placehold.co/300x300/000000/D00?text=Big+Bad+Battle!%0A300x300"
                srcset="
                    https://placehold.co/800x300/000000/D00?text=Big+Bad+Battle!%0A800x300 991w, 
                    https://placehold.co/1200x400/000000/D00?text=Big+Bad+Battle!%0A1200x400"  
                sizes="
                    (max-width: 991px) 100vw,
                    100vw"              
                class="d-block w-100 rounded"
                alt="Slide 1"
            />
        </a>
    </div>
</section>