<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center">
            <h2 class="flex-fill">Brands</h2>
            <a href="#" class="text-decoration-none">View All</a>
        </div>
        <div class="row">
            <div class="col">
                <a href="#">
                    <img src="https://placehold.co/400x200/000000/F00?text=Transformers" class="w-100 rounded" alt="Transformers">
                </a>
            </div>
            <div class="col">
                <a href="#" class="card">
                    <img src="https://placehold.co/400x200/000000/F00?text=DC" class="card-img-top" alt="Transformers">
                </a>
            </div>
            <div class="col">
                <a href="#"  class="card">
                    <img src="https://placehold.co/400x200/000000/F00?text=Mavel" class="card-img-top" alt="Transformers">
                </a>
            </div>
            <div class="col">
                <a href="#"  class="card">
                    <img src="https://placehold.co/400x200/000000/F00?text=Star+Wars" class="card-img-top" alt="Transformers">
                </a>
            </div>
        </div>
    </div>
</section>