<section class="py-5">
  <div class="container">
    <div class="d-flex align-items-center">
      <h2 class="flex-fill">Brands</h2>
      <a href="#" class="text-decoration-none">View All</a>
    </div>
    <div class="row">
      <div class="col-6 col-md mb-3">
        <a href="#" class="w-100">
          <img
            src="https://placehold.co/400x200/000000/F00?text=Transformers"
            class="w-100 rounded"
            alt="Transformers"
          />
        </a>
      </div>
      <div class="col-6 col-md mb-3">
        <a href="#" class="w-100">
          <img
            src="https://placehold.co/400x200/000000/F00?text=DC"
            class="w-100 rounded"
            alt="DC"
          />
        </a>
      </div>
      <div class="col-6 col-md">
        <a href="#" class="w-100">
          <img
            src="https://placehold.co/400x200/000000/F00?text=Mavel"
            class="w-100 rounded"
            alt="Marvel"
          />
        </a>
      </div>
      <div class="col-6 col-md">
        <a href="#" class="w-100">
          <img
            src="https://placehold.co/400x200/000000/F00?text=Star+Wars"
            class="w-100 rounded"
            alt="Star Wars"
          />
        </a>
      </div>
    </div>
  </div>
</section>
