<section class="py-5 bg-dark bg-gradient">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 my-3">
        <a href="#">
          <img
            src="https://placehold.co/400x100/000000/F00?text=Package+Grading"
            class="w-100 rounded"
            alt="Package+Grading"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 my-3">
        <a href="#" class="card">
          <img
            src="https://placehold.co/400x100/000000/F00?text=Flat+Rate+Shipping"
            class="card-img-top"
            alt="Flat Rate Shipping"
          />
        </a>
      </div>
      <div class="col-12 col-md-4 my-3">
        <a href="#" class="card">
          <img
            src="https://placehold.co/400x100/000000/F00?text=Pile+of+Loot"
            class="card-img-top"
            alt="Pile of Loot"
          />
        </a>
      </div>
    </div>
  </div>
</section>
