---
import MyThreeViewer from '../components/vue/MyThreeViewer.vue';
---
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <a href="#" class="card">
                    <img
                        src="https://placehold.co/600x400/000000/D00?text=Daily+Deals!"
                        class="d-block w-100 rounded"
                        alt="Slide 1"
                    />
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="card">
                    <img
                        src="https://placehold.co/600x400/000000/D00?text=Flash+Deal!"
                        class="d-block w-100 rounded"
                        alt="Slide 1"
                    />
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    // const countdown = () => {
    //     if(!document) return;

    //     const countDate = new Date("December 31, 2024 23:59:59").getTime();
    //     const now = new Date().getTime();
    //     const gap = countDate - now;

    //     // How does time work?
    //     const second = 1000; // 1 second = 1000 milliseconds
    //     const minute = second * 60;
    //     const hour = minute * 60;
    //     const day = hour * 24;

    //     // Calculate the difference
    //     const textDay = Math.floor(gap / day);
    //     const textHour = Math.floor((gap % day) / hour);
    //     const textMinute = Math.floor((gap % hour) / minute);
    //     const textSecond = Math.floor((gap % minute) / second);

        
    //     // Update the HTML
    //     const daysElement = document.getElementById("days");
    //     if (daysElement) {
    //         daysElement.innerText = textDay.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
    //     }
    //     const hoursElement = document.getElementById("hours");
    //     if (hoursElement) {
    //         hoursElement.innerText = textHour.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
    //     }
    //     const minutesElement = document.getElementById("minutes");
    //     if (minutesElement) {
    //         minutesElement.innerText = textMinute.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
    //     }
    //     const secondsElement = document.getElementById("seconds");
    //     if (secondsElement) {
    //         secondsElement.innerText = textSecond.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
    //     }

    //     // When countdown finishes
    //     if(gap < 0){
    //         clearInterval(countdownInterval);
    //         const countdownElement = document.getElementById("countdown");
    //         if(countdownElement){
    //             countdownElement.innerHTML = "<h1>Countdown Ended!</h1>";
    //         }
    //     }
    // };

    // // Update the countdown every 1 second
    // const countdownInterval = setInterval(countdown, 1000);

    
</script>
<style>
    /* #countdown {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

#countdown p {
    display: inline-block;
    margin: 0 15px;
} */
</style>