<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <a href="#" class="card">
                    <img
                        src="https://placehold.co/600x400/000000/D00?text=Daily+Deal!"
                        class="d-block w-100"
                        alt="Slide 1"
                    />
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="card">
                    <img
                        src="https://placehold.co/600x400/000000/D00?text=Featured+Deal!"
                        class="d-block w-100"
                        alt="Slide 1"
                    />
                </a>
            </div>
        </div>
    </div>
</section>