---
import SearchBar from './vue/SearchBar.vue'
---
<header class="navbar navbar-expand-lg bd-navbar border-bottom">
    <nav class="container bd-gutter flex-wrap align-items-center justify-content-between justify-content-md-center flex-lg-nowrap" aria-label="Main navigation">
      <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
        <img src="https://images.bigbadtoystore.com/site-images/BBTS-Logo-Header4-2xize.png" width="170" alt="Bootstrap" loading="lazy">
      </a>

      
      <div class="d-none d-md-flex flex-fill justify-content-center ">
        <SearchBar />
      </div>
    
  
      <ul class="navbar-nav flex-row ">
        <li class="nav-item col d-block d-md-none">
          <a class="nav-link py-2 fs-3  px-2 text-black" href="#" title="Search" aria-label="Search">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li class="nav-item col">
          <a class="nav-link py-2 fs-3  px-2 text-black" href="#" title="Help" aria-label="Help">
            <i class="bi bi-question-circle"></i>
          </a>
        </li>
        <li class="nav-item col">
          <a class="nav-link py-2 fs-3 px-2 text-black" href="#" title="Account" aria-label="Account">
            <i class="bi bi-person-fill"></i>
          </a>
        </li>
        <li class="nav-item col">
          <a class="nav-link py-2 fs-3 px-2 text-black" href="#" title="Cart" aria-label="Cart">
            <i class="bi bi-cart2"></i>
          </a>
        </li>

      </ul>
    </nav>
  </header>