<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center">
            <h2 class="flex-fill">Trending</h2>
            <a href="#" class="text-decoration-none">View All</a>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <a href="#">
                    <img src="https://placehold.co/700x700/000000/F00?text=Top+Seller!" alt="Top Seller" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6">
                <div class="row row-cols-2">
                    <div class="col mb-4">
                        <a href="#">
                            <img src="https://placehold.co/700x700/000000/F00?text=Top+Seller!" alt="Top Seller" class="img-fluid">
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#">
                            <img src="https://placehold.co/700x700/000000/F00?text=Top+Seller!" alt="Top Seller" class="img-fluid">
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#">
                            <img src="https://placehold.co/700x700/000000/F00?text=Top+Seller!" alt="Top Seller" class="img-fluid">
                        </a>
                    </div>
                    <div class="col mb-4">
                        <a href="#">
                            <img src="https://placehold.co/700x700/000000/F00?text=Top+Seller!" alt="Top Seller" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>